name: Deploy website cars-challenge to Heroku
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Init project
        uses: actions/checkout@v2
      - name: eslint
        uses: icrawl/action-eslint@v1
      - name: Setup Node JS
        uses: actions/setup-node@v2.1.2
      - name: Cache multiple paths
        uses: actions/cache@v2.1.2 
        with:
          path: ~/.npm
          key: ${{runner.os}}-npm-${{hashFiles('**/package-lock.json')}}
          restore-keys: ${{runner.os}}-npm-
      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm test
 
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Init project
        uses: actions/checkout@v2
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.5.7 
        with:
          heroku_api_key: ${{secrets.HEROKU_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}