name: Deploy website cars-challenge preprod to Heroku
on:
  push:
    branches:
      - preprod
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Init project
        uses: actions/checkout@v2 
      - name: Setup Node JS
        uses: actions/setup-node@v2.1.2
      - run: npm ci
      - name: Cache multiple paths
        uses: actions/cache@v2.1.2 
        with:
          path: ~/.npm
          key: ${{runner.os}}-npm-${{hashFiles('**/package-lock.json')}}
          restore-keys: ${{runner.os}}-npm-
      - name: test
        uses: guahanweb/actions/node-app@master
      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm test
      
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Init project
        uses: actions/checkout@v2 
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.5.7 
        with:
          heroku_api_key: ${{secrets.HEROKU_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_PREPROD}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}